<div>
  <h2>Familie toevoegen</h2>
<form class="example-form" [formGroup]="newFamily">
  <mat-form-field class="example-full-width">
    <mat-label>Voornamen</mat-label>
    <input matInput placeholder="Een voornaam" formControlName="firstname" required>
    <mat-error *ngIf="newFamily.controls.firstname.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Achternaam</mat-label>
    <input matInput placeholder="Een achternaam" formControlName="lastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Roepnaam</mat-label>
    <input matInput placeholder="Een roepnaam" formControlName="nickname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Geboortedatum</mat-label>
    <input matInput placeholder="DD/MM/YYYY" formControlName="birthDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Overlijdingsdatum</mat-label>
    <input matInput placeholder="DD/MM/YYYY" formControlName="deathDate">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Opleiding</mat-label>
    <input matInput placeholder="Een opleiding" formControlName="education">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Beroep</mat-label>
    <input matInput placeholder="Een beroep" formControlName="profession">
  </mat-form-field>
  <mat-radio-group aria-label="Geslacht" formControlName="gender">
    <mat-radio-button value="Man">Man</mat-radio-button>
    <mat-radio-button value="Vrouw">Vrouw</mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="example-full-width">
    <mat-label>Meisjesnaam</mat-label>
    <input matInput placeholder="Meisjesnaam" formControlName="maidenName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Partner</mat-label>
    <mat-select formControlName="partner">
      <div *ngFor="let person of persons">
      <mat-option [value]="person">
          {{person.firstname + ' ' +  person.lastname + ' | ' + person.birthDate}}
      </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Vader</mat-label>
    <mat-select formControlName="father">
      <div *ngFor="let person of persons">
        <mat-option [value]="person" *ngIf="person.gender == 'M'">
          {{person.firstname + ' ' +  person.lastname + ' | ' + person.birthDate}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Moeder</mat-label>
    <mat-select formControlName="mother">
      <div *ngFor="let person of persons">
        <mat-option [value]="person" *ngIf="person.gender == 'V'">
          {{person.firstname + ' ' +  person.lastname + ' | ' + person.birthDate}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Stiefvader(s)</mat-label>
    <mat-select multiple formControlName="stepfathers">
      <div *ngFor="let person of persons">
        <mat-option [value]="person" *ngIf="person.gender == 'M'">
          {{person.firstname + ' ' +  person.lastname + ' | ' + person.birthDate}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Stiefmoeder(s)</mat-label>
    <mat-select multiple formControlName="stepmothers">
      <div *ngFor="let person of persons">
        <mat-option [value]="person" *ngIf="person.gender == 'V'">
          {{person.firstname + ' ' +  person.lastname + ' | ' + person.birthDate}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Kinderen</mat-label>
    <mat-select multiple formControlName="children">
      <div *ngFor="let person of persons">
        <mat-option [value]="person">
          {{person.firstname + ' ' +  person.lastname + ' | ' + person.birthDate}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="addFamily()">Toevoegen</button>
    <button mat-raised-button color="primary" (click)="clearInput()">Velden leeg maken</button>
  </div>
</form>
</div>
