
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Welkom {{name}}</h2>
      <h4>Je hebt momenteel {{sumFamily}} familieleden toegevoegd. Daarmee gaat de stamboom momenteel {{generations}} generaties terug.</h4>
    </div>
  </div>

 <mat-divider></mat-divider>

  <h2 matSubheader>Pagina's</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/management">Beheer</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/overview">Overview</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">Login</a>


<mat-divider></mat-divider>

  <h2 matSubheader>Handige andere dingen</h2>
